/* Need to declare this manually, because puzzle-pipes.com marks their
   menu buttons with this by class AND ID, and obviously buttons we add
   won't be in their list of ids */
.pipesSolver.button.nightmode {
    background-color: #CCC;
}

.pipesSolver.subPanel {
    display: inline-block;
    vertical-align: top;
}

.pipesSolverHighlight-0-away.cell {
    background-color: forestgreen;
}
.nightmode .pipesSolverHighlight-0-away.cell {
    background-color: forestgreen;
}

.pipesSolverHighlight-1-away.cell {
    background-color: yellowgreen;
}
.nightmode .pipesSolverHighlight-1-away.cell {
    background-color: yellowgreen;
}

.pipesSolverHighlight-2-away.cell {
    background-color: gold;
}
.nightmode .pipesSolverHighlight-2-away.cell {
    background-color: gold;
}

.pipesSolverHighlight-3-away.cell {
    background-color: orange;
}
.nightmode .pipesSolverHighlight-3-away.cell {
    background-color: orange;
}